<%- include ('../partials/header', {title:title}) %>

<style>
  .block {
    min-height: 200px;
  }

  .p-heading {
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
  }

  .p-desc {
    font-size: 40px;
    font-weight: 600;
  }

  .bg-orange {
    color: #fff;
    background-color: orange;
  }

  .bg-green {
    color: #fff;
    background-color: #5cb85c;
  }
</style>

<div class="services-breadcrumb_w3layouts">
  <div class="inner_breadcrumb">
    <ul class="short_w3ls" _w3ls>
      <li><a href="/">Home</a><span>|</span></li>
      <li>Profile</li>
    </ul>
  </div>
</div>



<div class="inner_content_info_agileits">
  <div class="container">
    <div class="tittle_head_w3ls">
      <h3 class="tittle three">Dashboard</h3>
    </div>
    <div class="inner_sec_grids_info_w3ls">
      <div id="smsg"></div>
      <div class="row">



        <div class="col-sm-4">
          <a href="/account/profile">
            <div class="bg-green block">
              <p class="text-center p-heading">Edit Your Profile</p>
              <p class="text-center p-desc">Profile</p>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <div class="bg-primary block">
            <p class="text-center p-heading">My Profile Views</p>
            <p class="text-center p-desc">100 Visitors</p>
          </div>
        </div>



        <div class="col-sm-4">
          <a href="/account/changepwd">
            <div class="bg-orange block">
              <p class="text-center p-heading">Change Your Password</p>
              <p class="text-center p-desc">Reset</p>
            </div>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>



<%- include ('../partials/footer') %>