<%- include ('../partials/header', {title:title}) %> 


<style>

#search_form{
    background: url('../images/image1.jpg');
    min-height: 600px; 
    background-size:cover; 
}

</style>

<!--/search_form -->
<div id="search_form" class="search_top">
    <h2>Start your lawyer search</h2>
    <form action="#" method="post">
        
        <select id="country12" onchange="change_country(this.value)" class="frm-field required">
            <option value="null">State</option>
            <option value="city">Haryana</option>
            <option value="city">Delhi</option>
            <option value="city">Uttar Pradesh</option>
            <option value="city">Bihar</option>
            
</select>


        <select id="country12" onchange="change_country(this.value)" class="frm-field required">
            <option value="null"> District</option>
            <option value="city">Faridabad</option>
            <option value="city">Badarpur</option>
            <option value="city">Palwal</option>
            <option value="city">Agra</option>
            
</select>
        
        <select id="country12" onchange="change_country(this.value)" class="frm-field required">
                                                    <option value="null"> Sub District</option>
                                                    <option value="city">Sec-12</option>
                                                    <option value="city">Ballabhgarh</option>
                                                    <option value="city">Sec 35</option>
                                                    <option value="city">Sec 38</option>
                                                    
                                    </select>
        <input type="submit" value="Find Lawyers">
        <div class="clearfix"></div>
    </form>
</div>
<!--//search_form -->



<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="display:none;">
    <!-- Indicators -->
   
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Personal Injury Lawyer</span></h3>
                </div>
            </div>
        </div>
       
    </div>
   
    <!-- The Modal -->
</div>
<!--//banner -->


<div class="banner-bottom">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">About Us</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-6 banner_bottom_left">

                <p><strong>Rajivo.com</strong> is a unique platform of redox martfolio where you get the information of more than one lawyers from all the courts of India. </p>
                <h4>Feature: - </h4>
                <p>1. District wise complete information of all the lawyers </p>
                <p>2. Visiting charge information</p>
                <p>3. Fee information</p>
                <p>4. Consulting system</p>
                <p>5. Free call alert</p>
                <p>6. Official Mobile numbers of free Jurists / Lawyers</p>
                <p>7. Free Registration</p>

                <h4>Objective: - </h4>
                <p>The information of jurists / lawyers is easily available to you, so that you will get jurists / lawyers Be easy to find.</p>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="agileits_w3layouts_banner_bottom_grid">
                    <img src="images/ab.png" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //banner-bottom -->





<%- include ('../partials/footer') %>
