<%- include ('../partials/header', {title:title}) %>



<div class="services-breadcrumb_w3layouts">
      <div class="inner_breadcrumb">
            <ul class="short_w3ls" _w3ls>
                  <li><a href="/account">Dashboard</a><span>|</span></li>
                  <li>User Settings</li>
            </ul>
      </div>
</div>



<div class="inner_content_info_agileits">
      <div class="container">
            <div class="tittle_head_w3ls">
                  <h3 class="tittle three">User Settings</h3>
            </div>
            <div class="inner_sec_grids_info_w3ls">
                  <div id="smsg"></div>
                  <div class="row">

                        <div class="col-sm-6">
                              <div class="form-group">
                                    <label for="">Registered Email</label>
                                    <input type="text" class="form-control">
                              </div>



                              <div>
                                    <input type="submit" value="Submit" class="btn btn-primary">
                              </div>

                        </div>

                  </div>
            </div>
      </div>
</div>



<%- include ('../partials/footer') %>